{% extends "layout.html" %}

{% block title %}
    Calcul Electromagnet
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Forta" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Intrefierul" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Calcul Electromagnet</button>
    </form>
{% endblock %}
